@charset "UTF-8";
@import url("media.css");
@import url("font.css");


/* ========================================
  var
=========================================== */
.skin-bmw {
  --c-base: #7E859A;
}
.skin-benz {
  --c-base: #4D4D4D;
}
.skin-polestar {
  --c-base: #53565A;
}


/* ========================================
  reset
=========================================== */
* { margin: 0; padding: 0; border: none; word-break: break-all; box-sizing: border-box; -webkit-box-sizing: border-box; -webkit-overflow-scrolling: touch; -webkit-hyphens: auto; -ms-hyphens: auto; hyphens: auto; vertical-align: baseline; font-size: inherit; line-height: inherit; font-family: inherit; color: inherit; font-weight: inherit;color:inherit}
*:before, 
*:after{box-sizing:border-box;-webkit-box-sizing:border-box;}
body{line-height:1.25;font-family:"Montserrat", "Sans-serif";-webkit-text-size-adjust:none;word-break:keep-all;word-wrap:break-word;font-weight:400;}
dl, ul, ol, menu, li { list-style: none; }
p{margin:0;}
table {width:100%;border-collapse:collapse;border-spacing:0}
table caption {visibility:hidden;overflow:hidden;width:0;height:0;font-size:0;line-height:0;}
img, fieldset{border:0 none;}
img{vertical-align:middle;max-width:100%;max-height:100%;}
a{color:inherit;text-decoration:none;cursor:pointer;color:inherit;font-family:inherit;}
a:hover{text-decoration:none}
i, em, address{font-style:normal;}
button{border:none;background:none;cursor: pointer;}
button:disabled{cursor: default;}
body>iframe{display:none;}

/* ========================================
  layout
=========================================== */

html, body{height: 100%;}
#app{height:100%;color:var(--c-base);}
.layout-default,
.layout-sub{height:100%;}
.contents{height:100%;}
.layout-sub.has-footer .contents,
.layout-default .contents{padding-bottom:5.6rem;}
.layout-sub .contents,
.layout-default .contents{padding-top:4rem;}

h1.hidden{  border: 0 !important; clip: rect(1px, 1px, 1px, 1px) !important; -webkit-clip-path: inset(50%) !important; clip-path: inset(50%) !important; height: 1px !important; overflow: hidden !important; padding: 0 !important; position: absolute !important; width: 1px !important; white-space: nowrap !important;}

/* layout-none */
.layout-none .back {position: absolute; top: 1rem; left: 1rem; width: 5rem; height: 5rem; z-index: 10;}

/* footer */
.footer{position:fixed;bottom:0;left:0;width:100%;z-index: 10;background:#fff;}
.footer .footer-menu{display:flex;flex-direction:row;align-items:center;height:5.6rem;padding:0 1rem;}
.footer .footer-menu .menu{position:relative;flex:1;text-align:center;}
.footer .footer-menu .menu .icon [class*=i-].off{display:inline-block;}
.footer .footer-menu .menu .icon [class*=i-].on{display:none;}
.footer .footer-menu .menu .icon{position:relative;top:0;display:flex;flex-direction: column;justify-content:center;align-items:center;height:2.3rem;}
.footer .footer-menu .menu .txt{display:block;margin-top:0.3rem;;}
.footer .footer-menu .menu.on .icon [class*=i-].off{display:none;}
.footer .footer-menu .menu.on .icon [class*=i-].on{display:inline-block;}
.footer .footer-menu .menu.on .txt{color:#000;}

.skin-bmw .footer .footer-menu .menu .txt{font-size:0.75rem;font-weight:700; color:#7E859A;}
.skin-polstar .footer .footer-menu .menu .txt{font-size:0.81rem;font-weight:800; color:#53565A;}

.header{position:fixed;top:0;left:0;width:100%;height:40px;padding:0 1.5rem;display:flex;flex-direction:row;align-items:center;z-index: 1;}
.header .right{margin-left:auto;}
.header .btn-txt{font-size:1.35rem;}

.header-sub{position:fixed;top:0;left:0;width:100%;text-align:center;height:4rem;background:#7E859A;}
.header-sub .tit{font-weight:700;font-size:1.5rem;height:100%;display:flex;flex-direction: column;justify-content:center;align-items:center; color:#fff;}
.header-sub .center{height:100%;}
.header-sub .left{position:absolute;top:0;left:1rem;height:100%;}
.header-sub .left .back{height:100%;display:flex;flex-direction: column;justify-content:center;align-items:center;width:4.5rem;}
.header-sub .right{position:absolute;top:0;right:0;height:100%;}


/* ========================================
  common content
=========================================== */

/* form */
input {border-radius: 0px; -webkit-border-radius: 0px; -webkit-appearance: none;}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input:-webkit-input-placeholder {
  color: #8A8B8C;
}
input::-moz-placeholder {
  color: #8A8B8C;
}
input::placeholder {
  color: #8A8B8C;
}
input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active {
  -webkit-transition: background-color 5000000s ease-in-out 0s;
  transition: background-color 5000000s ease-in-out 0s;
}

input[type=text], input[type=password], input[type=number], textarea {
  width: 100%;
  font-size: 1.2rem;
  border: 1px solid #7E859A;
  height: 3.2rem;
  border-radius:0.4rem;
  outline: none;
  color: var(--c-base);
  background: #F5F6F9;
  -ms-box-shadow: none; -o-box-shadow: none; box-shadow: none;
}

/* icon */
i[class*=i-]{position:relative;display:inline-block;background-size:auto 100% !important;background-position: 0 0 !important;background-repeat:  no-repeat !important;}
i[class*=i-] svg{width:100%;height:100%;vertical-align:top;}
i[class*=i-] .svg-prevent{position:absolute;top:0;left:0;z-index: 1;width:100%;height:100%;}


/* btn-style */
/* .btn-box [class*=btn-type] ~ [class*=btn-type] { margin-top: 1.6rem; } */

[class*=btn-type] { text-align: center; white-space: nowrap; border-radius: 0.8rem; width: 100%; }
[class*=btn-type]:disabled { background: #A3A9A4 !important; border-color: #A3A9A4 !important; }

[class*=btn-type].inbl { display: inline-block; width: auto; text-align: center; padding: 0 0.8rem; }
/* [class*=btn-type1].inbl { min-width: 13.8rem; padding: 0 1.6rem; } */
[class*=btn-type]:focus { box-shadow: inset 0 0 0.5rem #407c1d; }

[class*=btn-type] i:first-child { margin-right: 0.8rem; }
[class*=btn-type] i:last-child { margin-left: 0.8rem; }

.btn-type1 { display: block; height: 4.8rem; font-size: 1.2rem; font-weight: normal; line-height: 4.8rem; padding: 0 1.6rem; border-radius:0.8rem;}
.btn-type3 { display: inline-block; width:auto !important; height: 2.4rem; font-size: 1.2rem; font-weight: normal; line-height: 2.4rem; padding: 0 1rem; border-radius:0.4rem;}
[class*=btn-type].st1 { color: #fff; background: #2A64AB; border: 1px solid #2A64AB; }

/* tit-type */
.tit-type1{font-size:2rem;color:#000;font-weight:700;}

/* f-wrap */
.f-wrap{display:flex;flex-direction:row;align-items:center;}
.f-wrap .auto{flex:1;}
.f-wrap .right{margin-left:auto;}
.f-wrap > * ~ *{margin-left:1rem;}

/* grid-box */
.grid-box{border:1px solid #7E859A;padding:0.8rem;background:#fff;border-radius:0.8rem;}
.grid-box ul{display:table;width:100%;}
.grid-box ul li{display:table-row;}
.grid-box ul li ~ li > *{border-top:1px solid #7E859A;}
.grid-box ul li > *{display:table-cell;width:0.5rem;padding:0.8rem 0;min-height:4.8rem;}
.grid-box ul li > * ~ *{padding-left:1rem;}
.grid-box ul li > .label{white-space: nowrap;font-size:1.4rem;}
.grid-box ul li > .auto{width:auto;}




/* ========================================
  content
=========================================== */

/* splash */
.splash-wrap{position:relative; height:100vh;background-size:cover !important;}
.splash-wrap .logo{position:absolute;background-size:auto 100% !important;}

