@charset 'utf-8';

$path: 'benz';
$skin: 'benz';
$c-base : #4D4D4D;
$c-point:#0088c6;
$bg-body:#F4F4F4;
$btn-st1-bg: #0088c6;
$btn-st1-br: none;
$bg-header-sub: #000;
$c-header-title: #fff;

@font-face {
  font-family: "Montserrat";
  src: url("~@/assets/fonts/Montserrat-Bold.woff") format("woff"), url("~@/assets/fonts/Montserrat-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("~@/assets/fonts/Montserrat-SemiBold.woff") format("woff"), url("~@/assets/fonts/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("~@/assets/fonts/Montserrat-Medium.woff") format("woff"), url("~@/assets/fonts/Montserrat-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("~@/assets/fonts/Montserrat-Regular.woff") format("woff"), url("~@/assets/fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@import 'style2';
